Repository AY2223S2-CS2103-W17-1/tp, pull requests merged in 2023-02, with the labels that each got.

#28 Update CI badge in README.md
  README.md
Labels: bug

#49 Update user guide command summary
  docs/UserGuide.md
Labels: user guide

#48 Edit feature list in UG: Add student, delete student and list students
  docs/UserGuide.md
Labels: user guide

#47 Edit command format notes in UG
  docs/UserGuide.md
Labels: user guide

#35 Add non-functional requirement.
  docs/DeveloperGuide.md
Labels: developer guide

#50 Ug adapted v1
  docs/UserGuide.md
Labels: user guide
